# =========================
# Environment & secrets
# =========================
.env
*.secret.json

# =========================
# Python cache / build files
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Logs & runtime files
# =========================
*.log

# =========================
# Virtual environment
# =========================
venv/
.env/
.venv/

# =========================
# IDE / editor configs
# =========================
.vscode/
.idea/
